body {
  background-color: #b1c5e8; }

.cloud-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 357px; }

@-moz-keyframes kf-pos-fly {
  from {
    top: 90px; }

  to {
    top: 110px; } }

@-webkit-keyframes kf-pos-fly {
  from {
    top: 90px; }

  to {
    top: 110px; } }

#apy-cloud {
  position: absolute;
  top: 100px;
  /* animate */
  -webkit-animation-name: kf-pos-fly;
  -moz-animation-name: kf-pos-fly;
  -webkit-animation-duration: 850ms;
  -moz-animation-duration: 850ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate; }
